{% extends "base.html" %}
{% set active_page = "admin" %}

{% block title %}Admin{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<h5>Admin View</h5>
<details>
    <summary>List of Attendees </summary>
    <pre>
     {{query_result}}
   </pre>
</details>

<details>
    <summary>Admin Queries</summary>
      <form action="/admin/" method="post">
        <input type="text" name="query_text" id="query_text" >

        <input type="submit">
   </form>

    {% if query_text %}
    {{ admin_query_result }}
    {% endif %}

</details>

<!--<form action="/admin" method="get">-->
<!--      <input type="submit">-->
<!--</form>-->

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}