{% extends "base.html" %}

{% block title %}Openworld 2022{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
{% include 'include/sidebar.html' %}
{% include 'include/sidebar.html' %}
<main role="main" class="container">
    <div class="row">
        <div class="col">
            {{data.text|safe}}
            <img src="{{ url_for('static', path='/images/owhome.png') }}" width=100% height=100%></img>
        </div>
        <center><a  href="/login">➡️ Login</a></center>
    </div>
</main><!-- /.container -->

{{data.page}}

{% endblock %}
{% block scripts %}
{{ super() }}
<footer>
    <details>
        <summary>
            <span class="icon">🌱</span>
        </summary>
         <pre style="background-color:#f7f2ee">
             ----------------------------------------
             Mode : Static Image Display
             Type : Query
             Query :
             """query{
                    getSaticUrls(page_title:"%s"){
                        url
                        }
                    }""" %(home)
             ----------------------------------------
         </pre>
        </details>
</footer>

{% endblock %}