{% extends "base.html" %}
{% set active_page = "twoforms" %}

{% block title %}Openworld 2022{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<h3 class="cap">Register to Explore</h3>
{% if email %}
<h2>Registerd user {{result}}.</h2>
{% endif %}
<h3 class="cap"></h1>
    <form action="/register" method="post">
        <label for="fname">First name:</label>     <input  id="fname" placeholder="Enter Firstname" name="fname">
        <label for="fname">Last Name:</label>     <input  id="lname" placeholder="Enter Lastname" name="lname">
        <label for="fname">Country:</label>     <input  id="country" placeholder="Country" name="country">
        <label for="email">Email:</label>     <input type="email" id="email" placeholder="Enter email" name="email">
        <label for="pwd">Password:</label>    <input type="password" id="pwd" placeholder="Enter password" name="pswd">
         <center> <br><br> <button type="submit">Register</button> </center>
    </form>
    

{% endblock %}

{% block scripts %}
{{ super() }}
    <footer>
        <details>
            <summary>
                <span class="icon">👇</span>
            </summary>
            &nbsp Type : Mutation / URL : core.graphql <br>
            &nbsp REST Ep: POST /register & GET /login/{mailId}
        </details>
    </footer>

{% endblock %}