{% extends "base.html" %}
{% set active_page = "twoforms" %}

{% block title %}Openworld 2022{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<h4 class="cap">Register to Explore</h4>

<h3 class="cap"></h1>
    <form action="/register" method="post">
        <label for="fname">First name:</label>     <input  id="fname" placeholder="Enter Firstname" name="fname" required="required">
        <label for="fname">Last Name:</label>     <input  id="lname" placeholder="Enter Lastname" name="lname" required="required">
        <label for="fname">Country:</label>     <input  id="country" placeholder="Country" name="country" required="required">
        <label for="email">Email:</label>     <input type="email" id="email" placeholder="Enter email" name="email" required="required">
        <label for="pwd">Password:</label>    <input type="password" id="pwd" placeholder="Enter password" name="pwd" required="required">
         <center> <br><br> <button type="submit">Register</button> </center>
    </form>

    {% if not status %}
    <center>
        <img src="{{ url_for('static', path='/images/owregister.png') }}" width=50% height=20%></img>
    </center>

    {% endif %}

    {% if status == "Error" %}
    <center>
    <small><font color="red">[Failed]</font> {{message}} .Please re-try. </small><br>
    <img src="{{ url_for('static', path='/images/gonewrong.png') }}" width=30% height=30%></img>
    </center>

    <footer>
        <details>
            <summary>
                <span class="icon">🌱</span>
            </summary>
            <pre style="background-color:#f7f2ee">
                ----------------------------------------
            Mode : New user addition.
            Type : Mutation
            Query :
            {{mutation_add_attendees}}
            Details : {{details}}
            ----------------------------------------

            </pre>

        </details>
    </footer>

    {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}