{% extends "base.html" %}
{% set active_page = "twoforms" %}

{% block title %}Openworld 2022{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
 {% if status == "Success" %}
       <img src="{{ url_for('static', path='/images/thankyou.png') }}" width=30% height=30%></img>
       <small>Hello - {{fname}} {{lname}} !! <a  href="/login">➡️ Login to explore more </small><br>

   <footer>
    <details>
        <summary>
            <span class="icon">🌱</span>
        </summary>
        <pre style="background-color:#f7f2ee">
                ----------------------------------------
            Mode : New user addition.
            Type : Mutation
            Query :
            {{mutation_add_attendees}}
            Details : {{details}}
            ----------------------------------------
            ----------------------------------------
            Mode : Session Details.
            Type : Query with Filter
            Query :
            {{scategory}}
            ----------------------------------------
            ----------------------------------------
            Mode : Add details to attendee sessions.
            Type : Mutation
            Query :
            {{mutate_attendees_sessions}}
            ----------------------------------------

            </pre>

    </details>
</footer>


{% endif %}

{% endblock %}

    {% block scripts %}
    {{ super() }}

    {% endblock %}

