{% extends "base.html" %}
{% set active_page = "usersessions" %}

{% block title %}Openworld 2022{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
 {% if status == "Success" %}

       <center><small>Hello - {{fname}} {{lname}} !!  </small><br></center>
       <img src="{{ url_for('static', path='/images/woow.png') }}" width=40% height=50%></img>
      <div id="div_session_table">
      <table>
          <tr>
              <th>Sessions</th>
              <th>Session Details</th>
              <th>Session Category</th>
              <th>Session Date</th>
          </tr>
      {% for item in all_sessions.data.listSessions %}
        <tr>
            <td>{{item.sname}}</td>
            <td>{{item.sdescription}}</td>
            <td>{{item.scategory}}</td>
            <td>{{item.sdate}}</td>
        </tr>
       {% endfor %}
      </table>
      </div>
       <center><a  href="/">⬅️ Logout</a></center>
<footer>
    <details>
        <summary>
            <span class="icon">🌱</span>
        </summary>
        <pre style="background-color:#f7f2ee">
                ----------------------------------------
            Mode : Login Validation.
            Type : Query with Filter
            Query :
            {{mutation_add_attendees}}
            Details : {{details}}
            ----------------------------------------

            ----------------------------------------
            Mode : Session Details.
            Type : Query with Filter
            Query :
            {{scategory}}
            ----------------------------------------

            </pre>

    </details>
</footer>


{% endif %}
    {% endblock %}

    {% block scripts %}
    {{ super() }}

    {% endblock %}