{% extends "base.html" %}
{% set active_page = "twoforms" %}

{% block title %}Openworld 2022{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
 {% if status == "Success" %}

       <small>Hello - {{fname}} {{lname}} !! </small><br>
       <img src="{{ url_for('static', path='/images/woow.png') }}" width=60% height=90%></img>
       <center><a  href="/">⬅️ Logout</a></center>
<footer>
    <details>
        <summary>
            <span class="icon">🌱</span>
        </summary>
        <pre style="background-color:#f7f2ee">
                ----------------------------------------
            Mode : Login Validation.
            Type : Query with Filter
            Query :
            {{mutation_add_attendees}}
            Details : {{details}}
            ----------------------------------------

            ----------------------------------------
            Mode : Session Details.
            Type : Query with Filter
            Query :
            {{scategory}}
            ----------------------------------------

            </pre>

    </details>
</footer>


{% endif %}
    {% endblock %}

    {% block scripts %}
    {{ super() }}

    {% endblock %}