{% extends "base.html" %}

{% block title %}Open World 2022{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
{% include 'include/sidebar.html' %}
{% include 'include/sidebar.html' %}
<main role="main" class="container">
    <div class="row">
        <div class="col">
            {{data.text|safe}}
            <img src="{{ url_for('static', path='/images/owview.png') }}" width=80% height=80%></img>
        </div>
    </div>
</main><!-- /.container -->

{{data.page}}

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}